{% extends 'global/base.html' %}

{% block content %}

<style>
    .avaliacao{
        display: flex;
        justify-content: center; /* Centraliza os elementos horizontalmente */
    }
    .star-icon{
        list-style-type: none;
        border: 1px solid #fff;
        cursor: pointer;
        color: #0e0c00;
        font-size: 40px; /* alterar o tamanho das estrelas */
    }
    .star-icon::before{
        content: "\2605";
    }
    .star-icon.ativo ~ .star-icon::before{
        content: "\2606";
    }
    .avaliacao:hover .star-icon::before{
        content: "\2605";
    }
    .star-icon:hover ~ .star-icon::before{
        content: "\2606";
    }
    .avaliacao-container {
        background-color: #f2f2f2;
        padding: 20px;
        border-radius: 5px;
        margin: 20px auto;
        max-width: 500px;
    }
</style>

<h1>Avaliar Reserva</h1>
<form method="post" id="avaliacaoForm">
    {% csrf_token %}
    <div class="avaliacao-container">
        <ul class="avaliacao">
            <li class="star-icon" data-avaliacao="1"></li>
            <li class="star-icon" data-avaliacao="2"></li>
            <li class="star-icon" data-avaliacao="3"></li>
            <li class="star-icon" data-avaliacao="4"></li>
            <li class="star-icon" data-avaliacao="5"></li>
        </ul>
        <input type="hidden" id="avaliacao" name="avaliacao">
        <div class="form-group">
            <label for="comentario_avaliacao">Comentário:</label>
            <textarea class="form-control" id="comentario_avaliacao" name="comentario_avaliacao" rows="3"></textarea>
        </div>
        <button id="avaliar" type="submit" class="btn btn-outline-secondary">Avalie!</button>
    </div>
</form>

<script>
    var stars = document.querySelectorAll('.star-icon');
    var avaliacaoInput = document.getElementById('avaliacao');
              
    document.addEventListener('click', function(e){
        var classStar = e.target.classList;
        if(!classStar.contains('ativo')){
            stars.forEach(function(star){
                star.classList.remove('ativo');
            });
            classStar.add('ativo');
            avaliacaoInput.value = e.target.getAttribute('data-avaliacao');
        }
    });

    document.getElementById('avaliacaoForm').addEventListener('submit', function(e) {
        if (!avaliacaoInput.value) {
            e.preventDefault();
            alert('Por favor, selecione uma avaliação.');
        }
    });
</script>

{% endblock %}
