{% extends 'global/base.html' %}
{% block content %}
<div class="center">
    <form class="login" method="post">
        {% csrf_token %}
        <h1>Cadastro</h1>
                
        <div class="box-user">
            <input type="text" placeholder="Usuário" id="username" name="username" value="{{username}}" required>
        </div>
                
        <div class="box-user">
            <input type="text" placeholder="Nome" id="name" name="name" value="{{name}}" required>
        </div>
                
        <div class="box-user">
            <input type="email" placeholder="Email" id="email" name="email" value="{{email}}" required>
        </div>
                
        <div class="box-user">
            <input type="password" placeholder="Senha" id="password" name="password" value="{{password}}" required>
        </div>
                
        {% if erro %}
            <p class="erro">{{ erro }}</p>
        {% endif %}

        <div>
            <p>Já possui uma conta?<a href="{% url 'login' %}">Faça login aqui.</a></p>
        </div>
        
        <button type="submit" class="btn_login" name="login">Registrar</button>
    </form>
</div>
{% endblock %}
