{% extends 'global/base.html' %}

{% block content %}

<div class="container">
    <h1>Cadastrar Espaço</h1>
    <form method="post" enctype="multipart/form-data" onsubmit="return validateForm()">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                <!-- Outros campos textuais -->
                <div class="form-group">
                    <label for="nome">Nome do Espaço:</label>
                    <input type="text" class="form-control" id="nome" name="nome" required>
                </div>
                <div class="form-group">
                    <label for="descricao">Descrição:</label>
                    <textarea class="form-control" id="descricao" name="descricao" rows="4" required></textarea>
                </div>
                <div class="form-group">
                    <label for="preco_por_noite">Preço por Noite:</label>
                    <input type="number" class="form-control" id="preco_por_noite" name="preco_por_noite" required min="0">
                </div>
                <div class="form-group">
                    <label for="endereco">Endereço:</label>
                    <input type="text" class="form-control" id="endereco" name="endereco" required>
                </div>
                <div class="form-group">
                    <label for="cidade">Cidade:</label>
                    <input type="text" class="form-control" id="cidade" name="cidade" required>
                </div>
                <div class="form-group">
                    <label for="estado">Estado:</label>
                    <input type="text" class="form-control" id="estado" name="estado" required>
                </div>
                <div class="form-group">
                    <label for="pais">País:</label>
                    <input type="text" class="form-control" id="pais" name="pais" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="numero_de_quartos">Número de Quartos:</label>
                    <input type="number" class="form-control" id="numero_de_quartos" name="numero_de_quartos" required min="0">
                </div>
                <div class="form-group">
                    <label for="numero_de_banheiros">Número de Banheiros:</label>
                    <input type="number" class="form-control" id="numero_de_banheiros" name="numero_de_banheiros" required min="0">
                </div>
                <div class="form-group">
                    <label for="numero_de_hospedes">Número de Hóspedes:</label>
                    <input type="number" class="form-control" id="numero_de_hospedes" name="numero_de_hospedes" required min="0">
                </div>
                <div class="form-group">
                    <label for="foto_principal">Foto Principal:</label>
                    <input type="file" class="form-control-file" id="foto_principal" name="foto_principal" onchange="validateFileType()">
                    <img src="" alt="Placeholder" id="foto_placeholder" style="display:none; max-width: 100%; margin-top: 10px;">
                </div>
            </div>
        </div>
        <br>
        <input type="submit" class="btn btn-primary" value="Cadastrar" style="display: block; margin: 0 auto;">
    </form>
</div>

<script>
    function validateFileType() {
        const fileInput = document.getElementById('foto_principal');
        const filePath = fileInput.value;
        const allowedExtensions = /(\.jpg|\.jpeg|\.png|\.gif)$/i;
        
        if (!allowedExtensions.exec(filePath)) {
            alert('Por favor, envie um arquivo de imagem válido (jpg, jpeg, png, gif).');
            fileInput.value = '';
            return false;
        } else {
            previewFile();
        }
    }

    function previewFile() {
        var preview = document.querySelector('#foto_placeholder');
        var file = document.querySelector('input[type=file]').files[0];
        var reader = new FileReader();

        reader.onloadend = function () {
            preview.src = reader.result;
            preview.style.display = 'block';
        }

        if (file) {
            reader.readAsDataURL(file);
        } else {
            preview.src = "";
            preview.style.display = 'none';
        }
    }

    function validateForm() {
        let precoPorNoite = document.getElementById('preco_por_noite').value;
        let numeroDeQuartos = document.getElementById('numero_de_quartos').value;
        let numeroDeBanheiros = document.getElementById('numero_de_banheiros').value;
        let numeroDeHospedes = document.getElementById('numero_de_hospedes').value;

        if (precoPorNoite < 0 || numeroDeQuartos < 0 || numeroDeBanheiros < 0 || numeroDeHospedes < 0) {
            alert('Os valores não podem ser negativos.');
            return false;
        }

        return true;
    }
</script>

{% endblock %}
