<!-- Usar as linhas abaixo para puxar o template base.html nos templates adicionais -->
{% extends 'apps/base.html' %}
{% load static %}


{% block content %}
<div class="container mt-5">
    <h2>{{ detalhes_do_espaco.nome }}</h2>

    <img src="{{ detalhes_do_espaco.foto_principal }}" alt="{{ detalhes_do_espaco.nome }}" class="img-fluid mt-4 mb-4">

    <h5>Descrição:</h5>
    <p>{{ detalhes_do_espaco.descricao }}</p>

    <h5>Preço por Noite:</h5>
    <p>R$ {{ detalhes_do_espaco.preco_por_noite }}</p>

    <h5>Endereço:</h5>
    <p>{{ detalhes_do_espaco.endereco }}, {{ detalhes_do_espaco.cidade }}, {{ detalhes_do_espaco.estado }}, {{
        detalhes_do_espaco.pais }}</p>

    <h5>Número de Quartos:</h5>
    <p>{{ detalhes_do_espaco.numero_de_quartos }}</p>

    <h5>Número de Banheiros:</h5>
    <p>{{ detalhes_do_espaco.numero_de_banheiros }}</p>

    <h5>Número de Hóspedes:</h5>
    <p>{{ detalhes_do_espaco.numero_de_hospedes }}</p>

    <h5>Sinal de Reserva:</h5>
    <p>R$ {{ detalhes_do_espaco.sinal_reserva }}</p>

    <!-- Aqui você pode adicionar mais informações conforme necessário -->

</div>
{% endblock %}