{% extends 'global/base.html' %}

{% load static %}

{% block content %}
<script type="text/javascript">
    function renderStars(rating) {
        let stars = '';
        for (let i = 0; i < 5; i++) {
            if (i < rating) {
                stars += '★'; // Filled star
            } else {
                stars += '☆'; // Empty star
            }
        }
        return stars;
    }

    window.onload = function() {
        var ratingElements = document.getElementsByClassName('rating');
        for (var i = 0; i < ratingElements.length; i++) {
            var ratingElement = ratingElements[i];
            var rating = ratingElement.getAttribute('data-rating');
            ratingElement.innerHTML = renderStars(rating);
        }
    }
</script>

<div class="container mt-5">
    <div class="row align-items-center">
        <!-- Carrossel à esquerda -->
        <div class="col-md-6">
            <div id="carouselExampleIndicators" class="carousel slide">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    {% if detalhes_do_espaco.foto_principal_url %}
                    <div class="carousel-item active">
                        <img src="{{ detalhes_do_espaco.foto_principal_url }}" class="d-block w-100"
                            alt="{{ detalhes_do_espaco.nome }}">
                    </div>
                    {% else %}
                    <div class="carousel-item active">
                        <svg class="bd-placeholder-img d-block w-100" width="100%" height="500"
                            xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                            preserveAspectRatio="xMidYMid slice" focusable="false">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c"></rect>
                            <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                        </svg>
                    </div>
                    {% endif %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

        <div class="col-md-6">
            <h2>{{ detalhes_do_espaco.nome }}</h2>
            <h5>Proprietário: <a href="{% url 'espacos_proprietario' espaco.proprietario_nome %}">{{ espaco.proprietario_nome }}</a></h5>
            <h5>Descrição: {{ detalhes_do_espaco.descricao }}</h5>  
            <h5>Endereço: {{ detalhes_do_espaco.endereco }}, {{ detalhes_do_espaco.cidade }}, {{ detalhes_do_espaco.estado }}, {{ detalhes_do_espaco.pais }}</h5>
        
            <ul>
                {% if detalhes_do_espaco.numero_de_quartos == 1 %}
                    <li><h5>1 Quarto</h5></li>
                {% else %}
                    <li><h5>{{ detalhes_do_espaco.numero_de_quartos }} Quartos</h5></li>
                {% endif %}

                {% if detalhes_do_espaco.numero_de_banheiros == 1 %}
                    <li><h5>1 Banheiro</h5></li>
                {% else %}
                    <li><h5>{{ detalhes_do_espaco.numero_de_banheiros }} Banheiros</h5></li>
                {% endif %}

                <li><h5>Número Máximo de Hóspedes: {{ detalhes_do_espaco.numero_de_hospedes }}</h5></li>
            </ul>

            <h5>Preço por Noite: R$ {{ detalhes_do_espaco.preco_por_noite }}</h5>
            
            <div class="btn-group">
                {% if user.is_authenticated %}
                    {% if espaco_favorito %}
                        <a href="{% url 'favoritar' espaco.id %}" id="desfavoritar" class="btn btn-lg btn-outline-secondary btn-desfavoritar" data-bs-toggle="popover" data-bs-content="Remover da lista de favoritos"><i class="fa-solid fa-heart"></i></a>
                    {% else %}
                        <a href="{% url 'favoritar' espaco.id %}" id="favoritar" class="btn btn-lg btn-outline-secondary btn-favoritar" data-bs-toggle="popover" data-bs-content="Adicionar à lista de favoritos"><i class="fa-regular fa-heart"></i></a>
                    {% endif %}
                {% else %}
                    <a href="{% url 'login' %}" class="btn btn-lg btn-outline-secondary">Favoritar</a>
                {% endif %}
            </div>
            <div class="btn-group">
                {% if user.is_authenticated %}
                    {% if espaco %}
                        <a href="{% url 'reservar_espaco' espaco.id %}" class="btn btn-lg btn-outline-secondary">Quero reservar!</a>
                    {% endif %}
                {% else %}
                    <a href="{% url 'login' %}" class="btn btn-lg btn-outline-secondary">Quero reservar!</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div id="avaliacoes_dos_usuarios" class="container mt-5">
    <h3>Avaliações dos Usuários</h3>
    <hr>
    {% if avaliacoes %}
        <ul>
            {% for reserva in avaliacoes %}
                <li>
                    <strong>Hóspede:</strong> {{ reserva.hospede_nome }}<br>
                    <strong>Avaliação:</strong> 
                    <span class="rating" data-rating="{{ reserva.avaliacao }}"></span><br>
                    <strong>Comentário:</strong> {{ reserva.comentario_avaliacao|default:"Sem comentário" }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Nenhuma avaliação encontrada para este espaço.</p>
    {% endif %}
</div>

{% endblock %}
    
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Inicializar popovers
        var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
        var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
            return new bootstrap.Popover(popoverTriggerEl)
        });
        
        // Adicionar evento de clique ao botão de favoritar
        var favoritarBtn = document.querySelector('.btn-favoritar');
        if (favoritarBtn) {
            favoritarBtn.addEventListener('click', function(event) {
                event.preventDefault();
                favoritarBtn.setAttribute('data-bs-content', 'O espaço foi adicionado à sua página de favoritos!');
            });
        }
        
        // Adicionar evento de clique ao botão de desfavoritar
        var desfavoritarBtn = document.querySelector('.btn-desfavoritar');
        if (desfavoritarBtn) {
            desfavoritarBtn.addEventListener('click', function(event) {
                event.preventDefault();
                desfavoritarBtn.setAttribute('data-bs-content', 'O espaço foi removido da sua página de favoritos!');
            });
        }
    });
</script>
