{% extends 'global/base.html' %}

{% block content %}
    {% if user.is_authenticated %}
    <h1>Meus Favoritos</h1>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for favorito in favoritos %}
        <div class="col">
            <div class="card shadow-sm">
                {% if favorito.espaco.foto_principal %}
                <img src="{{ favorito.espaco.foto_principal.url }}" class="card-img-top" alt="{{ favorito.espaco.nome }}">
                {% else %}
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c"></rect>
                    <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                </svg>
                {% endif %}

                <div class="card-body">
                    <h5 class="card-title">{{ favorito.espaco.nome }}</h5>
                    <p class="card-text">
                        <strong>Proprietário:</strong> {{ favorito.espaco.proprietario_nome }}
                        <br>
                        <strong>Preço por Noite:</strong> {{ favorito.espaco.preco_por_noite }}
                        <br>
                        <strong>Quartos:</strong> {{ favorito.espaco.numero_de_quartos }}
                        <br>
                        <strong>Banheiros:</strong> {{ favorito.espaco.numero_de_banheiros }}
                        <br>
                        <strong>Hospedes:</strong> {{ favorito.espaco.numero_de_hospedes }}
                    </p>
                    <a href="{% url 'detalhes' favorito.espaco.id %}" class="btn btn-outline-secondary">Ver mais</a>
                    {% comment %} <a href="{% url 'favoritar' espaco.id %}" id="desfavoritar" class="btn btn-outline-secondary btn-desfavoritar">Desfavoritar</a> {% endcomment %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <h1>Meus Favoritos</h1>
    <p>Por favor, faça login para ver seus favoritos.</p>
    <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
    {% endif %}
{% endblock %}
