{% extends 'global/base.html' %}

{% block content %}

<div class="container">
    <h1>Filtrar Espaços por Cidade</h1>
    <form method="get" action="{% url 'filtrar_espacos_por_cidade' %}" class="mb-3">
        <input type="text" name="cidade" placeholder="Digite a cidade" aria-label="Cidade" class="form-control mb-2">
        <button type="submit" class="btn btn-primary">Buscar</button>
    </form>

    {% if espacos %}
    <div style="width: 100%;">
        {% for espaco in espacos %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ espaco.nome }}</h5>
                <p class="card-text">{{ espaco.endereco }}</p>
                <a href="{% url 'detalhes' espaco.id %}" class="btn btn-sm btn-outline-secondary">Ver mais</a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p>Nenhum espaço encontrado para a cidade informada.</p>
    {% endif %}
</div>
{% endblock %}
