{% extends "apps/base.html" %}
{% load static %}

{% block content %}
<style>
    /* Estilizando a tabela */

    .table {
        width: 100%;
        border-collapse: collapse;
        font-family: Helvetica, sans-serif; /* Definindo fonte para todo o conteúdo da tabela */
    }

    /* Estilizando as células da tabela */
    .table th,
    .table td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
        font-family: Helvetica, sans-serif; /* Definindo fonte para todo o conteúdo da tabela */
    }

    /* Estilizando o cabeçalho da tabela */
    .table th {
        background-color: #bbb9b9d1;
        font-family: Helvetica, sans-serif; /* Definindo fonte para todo o conteúdo da tabela */
    }

    /* Estilizando as células de dados alternadas */
    .table tbody tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    /* Estilizando a imagem dentro da tabela */
    .table img {
        max-width: 100px;
        height: auto;
    }

    /* Estilizando o texto clicável */
    .hover-blue:hover {
        color: blue;
        cursor: pointer; /* Opcional: altera o cursor para indicar que o texto é clicável */
    }
</style>
<div class="container">
    <h1>Meus Espaços</h1>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Nome do Espaço</th>
                <th>Descrição</th>
                <th>Preço por Noite</th>
                <th>Endereço</th>
                <th>Cidade</th>
                <th>Estado</th>
                <th>País</th>
                <th>Número de Quartos</th>
                <th>Número de Banheiros</th>
                <th>Número de Hóspedes</th>
                <th>Foto Principal</th>
            </tr>
        </thead>
        <tbody>
            {% for espaco in espacos %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><span class="hover-blue">{{ espaco.nome }}</span></td>
                <td><span class="hover-blue">{{ espaco.descricao }}</span></td>
                <td><span class="hover-blue">{{ espaco.preco_por_noite }}</span></td>
                <td><span class="hover-blue">{{ espaco.endereco }}</span></td>
                <td><span class="hover-blue">{{ espaco.cidade }}</span></td>
                <td><span class="hover-blue">{{ espaco.estado }}</span></td>
                <td><span class="hover-blue">{{ espaco.pais }}</span></td>
                <td><span class="hover-blue">{{ espaco.numero_de_quartos }}</span></td>
                <td><span class="hover-blue">{{ espaco.numero_de_banheiros }}</span></td>
                <td><span class="hover-blue">{{ espaco.numero_de_hospedes }}</span></td>
                <td>
                    {% if espaco.foto_principal %}
                        <img src="{{ espaco.foto_principal.url }}" alt="Foto Principal">
                    {% else %}
                        Sem foto disponível
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
