{% extends "apps/base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <h1>Meus Espaços</h1>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Nome do Espaço</th>
                <th>Descrição</th>
                <th>Preço por Noite</th>
                <th>Endereço</th>
                <th>Cidade</th>
                <th>Estado</th>
                <th>País</th>
                <th>Número de Quartos</th>
                <th>Número de Banheiros</th>
                <th>Número de Hóspedes</th>
                <th>Foto Principal</th>
            </tr>
        </thead>
        <tbody>
            {% for espaco in espacos %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ espaco.nome }}</td>
                <td>{{ espaco.descricao }}</td>
                <td>{{ espaco.preco_por_noite }}</td>
                <td>{{ espaco.endereco }}</td>
                <td>{{ espaco.cidade }}</td>
                <td>{{ espaco.estado }}</td>
                <td>{{ espaco.pais }}</td>
                <td>{{ espaco.numero_de_quartos }}</td>
                <td>{{ espaco.numero_de_banheiros }}</td>
                <td>{{ espaco.numero_de_hospedes }}</td>
                <td>
                    {% if espaco.foto_principal %}
                        <img src="{{ espaco.foto_principal.url }}" alt="Foto Principal">
                    {% else %}
                        Sem foto disponível
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
