{% extends 'global/base.html' %}

{% block content %}
<h1>Minhas reservas</h1>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for reserva in reservas %}
        <div class="col">
            <div class="card">
                {% if reserva.espaco.foto_principal %}
                <img src="{{ reserva.espaco.foto_principal.url }}" class="card-img-top" alt="{{ reserva.espaco.nome }}">
                {% else %}
                <svg class="card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c"></rect>
                    <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                </svg>
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ reserva.espaco.nome }}</h5>
                    <p class="card-text">
                        <strong>Check in:</strong> {{ reserva.data_check_in }}
                        <br>
                        <strong>Check out:</strong> {{ reserva.data_check_out }}
                        <br>
                        <strong>Status:</strong> {{ reserva.status }}
                        <br>
                        <strong>Localização:</strong> {{ reserva.espaco.endereco }}
                    </p>
                    <a href="{% url 'detalhes' reserva.espaco.id %}" class="btn btn-outline-secondary">Ver mais</a>
                    {% if reserva.status == "Reserva ainda por vir" %}
                        <form action="{% url 'cancelar_reserva' reserva.espaco.id %}" method="post" style="display: inline;">
                            {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Cancelar reserva</button>
                        </form>
                    {% endif %}
                    {% if reserva.status == "Reserva terminada" %}
                        <a href="{% url 'avaliar_reserva' reserva.id %}" class="btn btn-outline-secondary">Avaliar!</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
