{% extends 'global/base.html' %}

{% block content %}
<div class="center">
    <form class="reservar" method="post" action="{% url 'pagamento_reserva' %}">
        <h1>Pagar Reserva</h1>
        <p>Por favor, forneça as informações de pagamento para completar a reserva.</p>
        {% csrf_token %}

        <div class="box-user">
            <label for="numero_cartao">Número do Cartão:</label><br>
            <input type="text" id="numero_cartao" name="numero_cartao" placeholder="Número do Cartão" required pattern="[0-9]{16}"><br><br>
        </div>

        <div class="box-user">
            <label for="data_validade">Data de Validade:</label><br>
            <input type="text" id="data_validade" name="data_validade" placeholder="MM/AA" required pattern="(0[1-9]|1[0-2])\/([0-9]{2})"><br><br>
        </div>

        <div class="box-user">
            <label for="data_validade">CVV:</label><br>
            <input type="text" id="cvv" name="cvv" placeholder="CVV" required pattern="[0-9]{3}"><br><br>
        </div>

        <button type="submit" class="btn_login" value="Pagar">Pagar</button>

    </form>
</div>
{% endblock %}