{% extends 'global/base.html' %}

{% block content %}
<div class="center">
    <form class="reservar" method="post" action="{% url 'pagamento_reserva' %}">
        <h1>Pagar Reserva</h1>
        <p class="card-text text-center">Por favor, forneça as informações de pagamento para completar a reserva.</p>

        {% csrf_token %}
        <div class="box-user">
            <label for="numero_cartao">Número do Cartão:</label>
            <input type="text" class="form-control" id="numero_cartao" name="numero_cartao" placeholder="Apenas números" required pattern="[0-9]{16}" maxlength="16">
        </div>
                        
        <div class="box-user">
            <label for="data_validade">Data de Validade:</label>
            <input type="text" class="form-control" id="data_validade" name="data_validade" placeholder="MM/AA" required pattern="(0[1-9]|1[0-2])\/([0-9]{2})" maxlength="5">
        </div>

        <div class="box-user">
            <input type="text" class="form-control" id="cvv" name="cvv" placeholder="CVV" required pattern="[0-9]{3}" maxlength="3">
        </div>
        
        <div class="box-user">
            <label for="valor_total">Valor do total a pagar:</label>
            <p class="reservation-fee">R$ {{ valor_total }}</p>
        </div>
        <button id="botao_reservar" type="submit" class="btn_login" value="Reservar">Pagar</button>
    </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('data_validade').addEventListener('input', function(e) {
            e.target.value = e.target.value.replace(/\D/g, '');
    
            var inputValue = e.target.value;
            if (inputValue.length >= 4) {
                var formattedDate = inputValue.replace(/(\d{2})(\d{2})/, '$1/$2');
                e.target.value = formattedDate;
            }
        });
    
        document.getElementById('cvv').addEventListener('input', function(e) {
            e.target.value = e.target.value.replace(/\D/g, '');
        });
    
        document.getElementById('numero_cartao').addEventListener('input', function(e) {
            e.target.value = e.target.value.replace(/\D/g, '');
        });
    });
</script>

{% endblock %}