{% extends 'global/base.html' %}

{% block content %}
<div class="center">
    <form class="reservar" method="post">
        <h1>Reservar Espaço: {{ espaco.nome }}</h1>

        {% csrf_token %}
        <div class="box-user">
            <input type="text" id="hospede_nome" name="hospede_nome" placeholder="Nome do Hóspede:"><br>
        </div>

        <div class="box-user">
            <label for="data_check_in">Data de Check-in:</label><br>
            <input type="date" id="data_check_in" name="data_check_in"><br>
        </div>

        <div class="box-user">
            <label for="data_check_out">Data de Check-out:</label><br>
            <input type="date" id="data_check_out" name="data_check_out"><br>
        </div>

        <div class="box-user">
            <input type="number" id="numero_de_hospedes" name="numero_de_hospedes" placeholder="Número de Hóspedes:"><br><br>
        </div>

        <button type="submit" class="btn_login" value="Reservar">Reservar</button>
    </form>
</div>
{% endblock %}
