{% extends 'global/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <br><br>
            <img src="{{ espaco.foto_principal.url }}" alt="{{ espaco.nome }}" class="img-fluid mb-4">
        </div>
        <div class="col-md-4">
            <form class="reservar" method="post">
                {% csrf_token %}
                <h1>Reservar Espaço: {{ espaco.nome }}</h1>

                <div class="box-user">
                    <label for="hospede_nome">Nome do hóspede:</label><br>
                    <input type="text" id="hospede_nome" name="hospede_nome" placeholder="Nome Completo" required pattern="[A-Za-zÀ-ÖØ-öø-ÿ\s]+$"><br>
                </div>

                <div class="box-user">
                    <label for="cpf">CPF:</label><br>
                    <input type="text" id="cpf" name="cpf" placeholder="Digite seu CPF" pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" title="Digite um CPF no formato: 000.000.000-00" required><br>
                </div>

                <div class="box-user">
                    <label for="data_range">Selecionar Datas:</label><br>
                    <input type="text" id="data_range" name="data_range" placeholder=" (Check-in e Check-out)" required><br>
                </div>
                
                <div class="box-user">
                    <input type="number" id="numero_de_hospedes" name="numero_de_hospedes" placeholder="Número de Hóspedes" min="1" required><br><br>
                </div>

                <div class="box-user">
                    <label for="additional_info">Informações Adicionais:</label><br>
                    <textarea id="additional_info" name="additional_info" placeholder="Qualquer informação adicional que deseje fornecer." style="width: 100%;"></textarea><br>
                </div>

                <button type="submit" class="btn_login">Reservar</button>
                
                {% if error_message %}
                    <p>{{ error_message }}</p>
                {% endif %}
            </form>
        </div>
    </div>
</div>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/pt.js"></script>
<script>
document.addEventListener('DOMContentLoaded', function () {
    flatpickr("#data_range", {
        mode: "range",
        dateFormat: "d-m-Y",
        minDate: "today",
        "locale": "pt"  // Define a localização para português
    });
});
</script>

{% endblock %}
